body{
	font-size: 10px;
}
.container{
	border: solid 5px #ccc;
	width: 70%;
	padding: 15px 15px;
	box-sizing: border-box;
	margin: 0 auto;
}

.clearfix{
	overflow: hidden;
}
table{
	border-collapse: collapse;	
	/*padding: 10px 0 10px 10px;*/
	width: 33%;
	float: left;
}


/*table tr{
	padding: 10px 0 10px 10px;

}*/

th, td{

	border-bottom: solid 1px #ccc;
	padding: 5px 5px;
}

th{
	border-top: solid 1px #ccc;
	background: #ccc;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}



